{{#if beers}}
    <table>
        <tr>
            <th>Brewery</th>
            <th>Beer</th>
            <th>ABV</th>
        </tr>
        {{#each beers}}
            <tr>
                <td class="brewery">{{brewery_name}}</td>
                <td>{{beer_name}}</td>
                <td>{{abv}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>No beers!</p>
{{/if}}
