<!DOCTYPE html>
<html>
    <head>
        <title>Galvanize Brews</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
    </head>
    <body>
        <header>
            <h1><a href="/">Galvanize Brews</a></h1>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <small>&copy; Galvanize, 2015</small>
        </footer>
    </body>
</html>
